<div class="alert alert-info" role="alert">
    <h1 align="center"><span class="fa fa-desktop"></span> CARRERA DE DESARROLLO DE SOFTWARE</h1>
</div>
<div class="card border-dark mb-3 bg-light text-justified" >
    <img src="../assets/images/desarrollo-de-software.png" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">¿Qué Es El Desarrollo De Software?</h3>
      <p class="card-text">El Desarrollo de Software es una disciplina que estudia los componentes necesarios para la creación, gestión, mantenimiento y testeo de software computacional. El software puede entenderse como la programación lógica que todo sistema computacional necesita para funcionar apropiadamente y permitir al usuario disfrutar de aspectos como una interfaz amigable y las funciones que el programa realice. Este concepto se opone al de hardware, que representa todos los componentes físicos de un sistema virtual.</p>
    </div>
</div>
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">HABILIDADES DESEADAS</h5>
        <p class="card-text">-Gusto por la computación y por la creación de espacios digitales.
            -Manejo de sistemas operativos digitales.
            -Conocimientos básicos sobre el funcionamiento de las computadoras.
            -Creatividad para el desarrollo de software de todo tipo.
            -Gusto por las matemáticas y la lógica.
            -Capacidad de análisis.
            -Rapidez de pensamiento.
            </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>