<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning" role="alert" align="CENTER">
                <H1>DISEÑO DE MODAS</H1>
            </div>
            <div class="col-12" align="center">
                <img src="./assets/images/images 4.jpg" width="30%" height="auto">
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h4 align="center"> OBJETIVOS</h4>
            <br>
            <p align="justify">Profesionales capaces de aportar soluciones eficientes para el crecimiento y desarrollo de la industria nacional
                dedicada a la confección de prendas de vestir, accesorios y complementos, fortaleciendo la matriz productiva
                del país. Nuestros estudiantes desarrollan la capacidad de crear y producir diseños de productos moda, aprovechando
                de forma sustentable y sostenible los materiales, insumos y demás recursos, maximizando rendimiento y minimizando
                costos.</p>
        </div>
        <div class="col-6" align="center">
            <img src="./assets/images/moda1.jpg">
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
        </div>
    </div>
</div>
<div class="container" align="center">
    <div class="row">
        <div class="col-12" align="center">
            <h3 color="red">Formacion Profesional</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <img src="./assets/images/modas.png">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h5>Conocimiento</h5>
            <p>Conoce los principios, elementos y conceptos fundamentales del diseño de modas, interpretando tendencias.</p>
            <br>
            <p>Relaciona los conceptos de la ilustración aplicada con el uso de herramientas digitales y métodos para patronar
                y confeccionar</p>
            <br>
            <p>Entiende, habla y escribe frases y expresiones de uso frecuente en Inglés (acorde al Marco Común Europeo), relacionadas
                al diseño de modas.</p>
        </div>
        <div class="col-4">
            <h5>Procesos</h5>
            <p>Identifica los procesos para el desarrollo del diseño prontista, pret a porter, alta moda y accesorios.</p>
            <br>
            <p>Conoce y aplica las características, propiedades, procesos industriales y artesanales de los textiles, para el
                desarrollo de los diferentes productos de la industria de la confección y la moda.</p>
            <br>
            <p>

                Programa órdenes de producción bajo fichas técnicas y determina la distribución de la maquinaria en una planta de confección.</p>
        </div>
        <div class="col-4">
            <h5>Habilidades</h5>
            <p>Aplica los procedimientos y técnicas en la elaboración de planes de negocios y evaluación de proyectos de inversión
                para nuevos emprendimientos.</p>
            <br>
            <p>Propone la imagen corporativa de su propia marca.</p>
            <br>
            <p>Desarrolla una actitud de liderazgo y trabajo en equipo, con responsabilidad y ética profesional; respetando
                la interculturalidad y el cuidado ambiental</p>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="./assets/images/DISEÑO DE MODAS.png " width="100%" height="auto">
        </div>
    </div>
</div>
<br>
<br>
<div class="p-3 mb-2 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <td style="color:#fcfcfc">
                    <div class="sp-title-block">
                        <h3>Contacto</h3>
                    </div>
                    <div class="sp-contacts-widget ">
                        <ul>
                            <li>
                                <i class="ion-android-pin"></i> Dirección: Ambato y García Moreno </li>
                            <li>
                                <i class="ion-android-call"></i> Teléfono: 0995225249</li>
                            <li>
                                <i class="ion-at"></i> Correo electrónico: info@yavirac.edu.ec</li>
                        </ul>
                    </div>
                </td>
            </div>
            <div class="col-2">

            </div>
            <div class="col-6">

                <td style="color:#ffffff" align="left">
                    <div class="sp-contacts-widget ">
                        <ul>
                            <br>
                            <br>
                            <li>
                                <i class="ion-information-circled"></i> Trabajamos de lunes a viernes.</li>
                            <li>
                                <i class="ion-clock"></i> Nuestro horario de atención es de 07:00 a 16:00</li>
                        </ul>
                    </div>
                </td>
            </div>
        </div>
        <div class="container">
            © 2018 INSTITUTO SUPERIOR YAVIRAC. Todos los derechos reservados.
        </div>
    </div>
</div>