<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert" align="CENTER">
                <H1>DISEÑO DE MODAS</H1>
            </div>
            <div class="col-12" align="center">
                <img src="./assets/images/imagen2.jpg" width="50%" height="auto">
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" align="center">
    <div class="row">
        <div class="col-12" align="center">
            <h3>Formacion Profesional</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <img src="./assets/images/modas.png">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h5>Conocimiento</h5>
            <p>Conoce los principios, elementos y conceptos fundamentales del diseño de modas, interpretando tendencias.

                    Relaciona los conceptos de la ilustración aplicada con el uso de herramientas digitales y métodos para patronar y confeccionar
                    
                    Entiende, habla y escribe frases y expresiones de uso frecuente en Inglés (acorde al Marco Común Europeo), relacionadas al diseño de modas.</p>
        </div>
        <div class="col-4">
            <h5>Procesos</h5>
        </div>
        <div class="col-4">
            <h5>Habilidades</h5>
        </div>
    </div>
</div>
<br>
<br>
<div class="p-3 mb-2 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <td style="color:#fcfcfc">
                    <div class="sp-title-block">
                        <h3>Contacto</h3>
                    </div>
                    <div class="sp-contacts-widget ">
                        <ul>
                            <li>
                                <i class="ion-android-pin"></i> Dirección: Ambato y García Moreno </li>
                            <li>
                                <i class="ion-android-call"></i> Teléfono: 0995225249</li>
                            <li>
                                <i class="ion-at"></i> Correo electrónico: info@yavirac.edu.ec</li>
                        </ul>
                    </div>
                </td>
            </div>
            <div class="col-2">

            </div>
            <div class="col-6">

                <td style="color:#ffffff" align="left">
                    <div class="sp-contacts-widget ">
                        <ul>
                            <br>
                            <br>
                            <li>
                                <i class="ion-information-circled"></i> Trabajamos de lunes a viernes.</li>
                            <li>
                                <i class="ion-clock"></i> Nuestro horario de atención es de 07:00 a 16:00</li>
                        </ul>
                    </div>
                </td>
            </div>
        </div>
        <div class="container">
            © 2018 INSTITUTO SUPERIOR YAVIRAC. Todos los derechos reservados.
        </div>
    </div>
</div>