<h1 align="center">
        <div class="alert alert-success" role="alert">
                VINCULACION
                </div>
                <div class="card mb-4">
                        <img class="card-img-top" src="../assets/images/VInculacion.png" alt="Card image cap">
                        <div class="card-body">
                          <h1 class="card-title">¿QUE ES LA VINCULACION?</h1>
                          <h5 class="card-text">Es un término jurídico e historiográfico que describe la situación de la propiedad durante el Antiguo Régimen. Significaba la sujeción de los bienes para perpetuarlos en un determinado empleo y en el orden sucesorio dispuesto por el fundador del vínculo. Suele emplearse en plural (vinculaciones). Los bienes quedaban inmovilizados en determinadas familias o instituciones, impidiendo su reparto por herencia o su venta o enajenación por cualquier motivo (incluidas las deudas o las cargas fiscales), con lo que quedaban perpetuamente fuera del mercado, además de reducir la base hacendística de la monarquía. También se denominan "vinculaciones" el conjunto de instituciones jurídicas que convierten en inalienables los bienes a los que afectan.</h5>
                        </div>
                        <div class="card-body">
                                <h1 class="card-title">OBJETIVO</h1>
                                <h5 class="card-text">Desarrollar acciones para promover el desarrollo académico, deportivo, cívico y la investigación como parte fundamental de la difusión educativa, tendientes a la formación integral y profesional del educando.</h5>
