<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary bg-light border-primary" role="alert" align="CENTER">
                    <H1>MARKETING</H1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-12">
        <div class="col-12" align="center">
            <img class="card-img-top" src="..." width="30%" height="auto" alt="esperando imagen">
        </div>
                </div>
            </div>
    </div>
            <div class="card-body">
                    <div class="container">
                            <div class="row">
                                    <div class="col-12">
                                <div class="col-12 alert alert-secondary bg-light border-dark">
                                    <h4>OBJETIVOS</h4>
                                    <p>Profesionales capaces de aportar soluciones eficientes para el crecimiento y desarrollo de la industria nacional
                                        dedicada a la confección de prendas de vestir, accesorios y complementos, fortaleciendo la matriz productiva
                                        del país. Nuestros estudiantes desarrollan la capacidad de crear y producir diseños de productos moda, aprovechando
                                        de forma sustentable y sostenible los materiales, insumos y demás recursos, maximizando rendimiento y minimizando
                                        costos.</p>
                                </div>
                             </div>
                            </div>
          </div>
            </div>
            <div class="container">
                    <div class="row">
                        <div class="col-12">
                <div class="card-group">
                    <div class="card alert alert-secondary bg-light border-dark">
                      <img class="card-img-top" src="..." alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">HABILIDADES DESEADAS</h5>
                        <p class="card-text">-Gusto por la computación y por la creación de espacios digitales.
                            -Manejo de sistemas operativos digitales.
                            </p>
                      </div>
                      <div class="card-footer alert alert-secondary bg-light border-dark">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card alert alert-secondary bg-light border-dark">
                      <img class="card-img-top" src="..." alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      </div>
                      <div class="card-footer alert alert-secondary bg-light border-dark">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                    <div class="card alert alert-secondary bg-light border-dark">
                      <img class="card-img-top" src="..." alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                      <div class="card-footer alert alert-secondary bg-light border-dark">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </div>
                        </div>
                    </div>
            </div>
          <br>
          <br>
          <div class="container">
                <div class="row">
                        <div class="col-12">
          <div class="p-3 mb-2 bg-dark text-white">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <td style="color:#fcfcfc">
                            <div class="sp-title-block">
                                <h3>Contacto</h3>
                            </div>
                            <div class="sp-contacts-widget ">
                                <ul>
                                    <li>
                                        <i class="ion-android-pin"></i> Dirección: Ambato y García Moreno </li>
                                    <li>
                                        <i class="ion-android-call"></i> Teléfono: 0995225249</li>
                                    <li>
                                        <i class="ion-at"></i> Correo electrónico: info@yavirac.edu.ec</li>
                                </ul>
                            </div>
                        </td>
                    </div>
                    <div class="col-2">
        
                    </div>
                    <div class="col-6">
        
                        <td style="color:#ffffff" align="left">
                            <div class="sp-contacts-widget ">
                                <ul>
                                    <br><br>
                                    <li>
                                        <i class="ion-information-circled"></i> Trabajamos de lunes a viernes.</li>
                                    <li>
                                        <i class="ion-clock"></i> Nuestro horario de atención es de 07:00 a 16:00</li>
                                </ul>
                            </div>
                        </td>
                    </div>
                </div>
                <div class="container">
                    © 2018 INSTITUTO SUPERIOR YAVIRAC. Todos los derechos reservados.
                </div>
            </div>
        </div>