<div style="background-color:rgb(36,36, 36);">
    <div class="container" style="background-color:rgb(36, 36, 36);">
        <div class="row">
            <div class="col-12">
                <div align="center">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:4200/dashboard" onMouseover="this.style.color='orange'" onMouseout="this.style.color='white'">INICIO</a>
                        </li>
                        <li class="nav-item dropdown" ngbDropdown onMouseover="this.style.color='blue'" onMouseout="this.style.color='red'">
                            <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle onMouseover="this.style.color='orange'" onMouseout="this.style.color='white'">
                                <i class="fa fa-graduation-cap">CARRERAS</i>
                            </a>
                            <div class="dropdown-menu-right" ngbDropdownMenu>
                                <a class="dropdown-item" href="http://localhost:4200/analisis" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'">
                                    <span class="fa fa-line-chart"></span> Análisis de Sistemas
                                </a>
                                <a class="dropdown-item" href="http://localhost:4200/culinario" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'">
                                    <span class="fa fa-cutlery"></span> Arte Culinario
                                </a>
                                <a class="dropdown-item" href="http://localhost:4200/carrera-software" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'">
                                    <span class="fa fa-desktop"></span> Desarrollo de Software
                                </a>
                                <a class="dropdown-item" href="http://localhost:4200/dise%C3%B1o-modas" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'">
                                    <span class="fa fa-scissors"></span> Diseño de Modas
                                </a>
                                <a class="dropdown-item" href="http://localhost:4200/electricidad" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'">
                                    <span class="fa fa-plug"></span> Electricidad
                                </a>
                                <a class="dropdown-item" href="http://localhost:4200/electronica" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'">
                                    <span class="fa fa-microchip"></span> Electrónica
                                </a>
                                <a class="dropdown-item" href="http://localhost:4200/guianza-turistica" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'">
                                    <span class="fa fa-map-signs"></span> Guianza Turística
                                </a>
                                <a class="dropdown-item" href="http://localhost:4200/marketing" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'">
                                    <span class="fa fa-bar-chart"></span> Marketing
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="http://172.16.24.94:8069/carreras-1" onMouseover="this.style.color='black'" onMouseout="this.style.color='white'">
                                    <span class="fa fa-bars"></span> Ver Todas</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:4200/investigacion">
                                <span class="fa fa-flask" onMouseover="this.style.color='orange'" onMouseout="this.style.color='white'"> INVESTIGACIÓN</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:4200/vinculacion">
                                <span class="fa fa-users" onMouseover="this.style.color='orange'" onMouseout="this.style.color='white'"> VINCULACIÓN</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:4200/bolsa-empleo">
                                <span class="fa fa-briefcase" onMouseover="this.style.color='orange'" onMouseout="this.style.color='white'"> BOLSA DE EMPLEOS</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://admision.senescyt.gob.ec/">
                                <span class="fa fa-university" onMouseover="this.style.color='orange'" onMouseout="this.style.color='white'"> POSTULA</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>