<h1 align="center">
        <div class="alert alert-primary" role="alert">
                ELECTRONICA
                </div>
                <div class="card mb-4">
                        <img class="card-img-top" src="../assets/images/electronica.gif" alt="Card image cap">
                        <div class="card-body">
                          <h1 class="card-title">¿QUE ES LA ELECTRONICA</h1>
                          <h6 class="card-text">La electrónica es la rama de la física y especialización de la ingeniería, que estudia y emplea sistemas cuyo funcionamiento se basa en la conducción y el control del flujo de los electrones u otras partículas cargadas eléctricamente.</h6>
                        </div>
                        </div>
                        <div class="card-body">
                                <h1 class="card-title">OBJETIVO</h1>
                                <h6 class="card-text">Formar un profesional con conocimientos científicos y tecnológicos que lo capaciten para investigar, analizar, diseñar, construir, apropiar tecnologías, realizar montajes, adecuar a nuestro medio las nuevas tecnologías.</h6>
                       </div>

