<div class="alert alert-success" role="alert">
    <h1 align="center"><span class="fa fa-map-signs"></span> CARRERA DE GUIANZA TURÍSTICA</h1>
</div>
<div class="card border-dark mb-3 bg-light text-justified" >
    <img src="../assets/images/desarrollo-de-software.png" alt="Esperando Imagen">
    <div class="card-body">
      <h3 class="card-title">¿Qué Es La Guianza Turística?</h3>
      <p class="card-text">...</p>
    </div>
</div>
<div class="card-group">
    <div class="card border-dark">
      <img class="card-img-top" src="..." alt="Esperando Imagen">
      <div class="card-body">
        <h5 class="card-title">TITULO PRUEBA</h5>
        <p class="card-text">TEXTO PRUEBA
            </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card border-dark">
      <img class="card-img-top" src="..." alt="Esperando Imagen">
      <div class="card-body">
        <h5 class="card-title">TITULO PRUEBA</h5>
        <p class="card-text">TEXTO PRUEBA</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card border-dark">
      <img class="card-img-top" src="..." alt="Esperando Imagen">
      <div class="card-body">
        <h5 class="card-title">TITULO PRUEBA</h5>
        <p class="card-text">TEXTO PRUEBA</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>