<div class="alert alert-secondary" role="alert">
<h1 align="center">INVESTIGACION</h1>
</div>
<div class="card mb-3">
        <img class="card-img-top" src="../assets/images/biblioteca.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">¿Qué es la investigación?</h5>
          <p class="card-text">Investigación designa acción y efecto de investigar. Como tal, se refiere al proceso de naturaleza intelectual y experimental que, a través de un conjunto de métodos aplicados de modo sistemático, persigue la finalidad de indagar sobre un asunto o tema, así como de aumentar, ampliar o desarrollar su conocimiento, sea este de interés científico, humanístico o tecnológico.</p>
          <p class="card-text"><p class="card-text">Investigación designa acción y efecto de investigar. Como tal, se refiere al proceso de naturaleza intelectual y experimental que, a través de un conjunto de métodos aplicados de modo sistemático, persigue la finalidad de indagar sobre un asunto o tema, así como de aumentar, ampliar o desarrollar su conocimiento, sea este de interés científico, humanístico o tecnológico.</p>
        </div>
      </div>

