<div class="alert alert-secondary" role="alert">
<h1 align="center">INVESTIGACION</h1>
</div>
<div class="card mb-3">
        <img class="card-img-top" src="../assets/images/biblioteca.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">¿Qué es la investigación?</h5>
          <p class="card-text">Investigación designa acción y efecto de investigar. Como tal, se refiere al proceso de naturaleza intelectual y experimental que, a través de un conjunto de métodos aplicados de modo sistemático, persigue la finalidad de indagar sobre un asunto o tema, así como de aumentar, ampliar o desarrollar su conocimiento, sea este de interés científico, humanístico o tecnológico.</p>
          <p class="card-text"><p class="card-text">Investigación designa acción y efecto de investigar. Como tal, se refiere al proceso de naturaleza intelectual y experimental que, a través de un conjunto de métodos aplicados de modo sistemático, persigue la finalidad de indagar sobre un asunto o tema, así como de aumentar, ampliar o desarrollar su conocimiento, sea este de interés científico, humanístico o tecnológico.</p>
        </div>
      </div>
      <div class="container bg-light">
        <div class="row">
            <div class="col-xl-6 col-xs-12 col-md-6">
                <h5 class="text-dark lead">CONTACTO:</h5>
                <h6 class="text-dark">
                    Calle Ambato
                    <br> ....
                    <br> Teléfonos: 1234567890 – 01234567.
                    <br>
                </h6>
            </div>
            <div class="col-xl-6 col-xs-12 col-md-6">
                <div class="pull-right">
                    <h6 class="text-dark lead">ENCUENTRANOS EN LAS REDES</h6>
                    <div class="redes-footer">
                        <a href="https://www.facebook.com/pages/Yavirac-Itstp/519627974829324?ref=br_rs">
                            <img src="../assets/images/facebook.png">
                        </a>
                        <a href="https://twitter.com/">
                            <img src="../assets/images/twitter.png">
                        </a>
                        <a href="https://www.youtube.com/">
                            <img src="../assets/images/youtube icon.png">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <p class="text-dark small text-right">Desarrollo de software 2018.
                        <br> © Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
