<h1 align="Center">PRUEBA</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <label>Numero</label>
            <input class="form-control" placeholder="Ingrese Numero">
        </div>

        <div class="col-lg-4">
            <label>Texto</label>
            <input class="form-control" placeholder="Ingrese Numero">
        </div>

        <div class="col-lg-4">
            <label>Fecha</label>
            <input class="form-control" placeholder="Ingrese Fecha">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <label></label>

        </div>

        <div class="col-lg-4">
            <label></label>

        </div>

        <div class="col-lg-4">
            <label></label>

        </div>
    </div>

</div>