<div class="alert alert-secondary bg-light border-dark" role="alert">
    <h1 align="center">ANALISIS DE SISTEMAS</h1>
    </div>
    <div class="card mb-3">
        <img class="card-img-top" src="../assets/images/analisis_sistemas.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">¿Qué es analisis de sistemas?</h5>
          <p class="card-text">El Análisis de Sistemas trata básicamente de determinar los objetivos y límites del sistema objeto de análisis, caracterizar su estructura y funcionamiento, marcar las directrices que permitan alcanzar los objetivos propuestos y evaluar sus consecuencias. Dependiendo de los objetivos del análisis, podemos encontrarnos ante dos problemáticas distintas:</p>
          <p class="card-text"><p class="card-text">* Análisis de un sistema ya existente para comprender, mejorar, ajustar y/o predecir su comportamiento.</p>
          <p class="card-text"><p class="card-text">* Análisis como paso previo al diseño de un nuevo sistema-producto.</p>
          <p class="card-text"><p class="card-text"></p>
        </div>
      </div>
      <div class="p-3 mb-2 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <td style="color:#fcfcfc">
                        <div class="sp-title-block">
                            <h3>Contacto</h3>
                        </div>
                        <div class="sp-contacts-widget ">
                            <ul>
                                <li>
                                    <i class="ion-android-pin"></i> Dirección: Ambato y García Moreno </li>
                                <li>
                                    <i class="ion-android-call"></i> Teléfono: 0995225249</li>
                                <li>
                                    <i class="ion-at"></i> Correo electrónico: info@yavirac.edu.ec</li>
                            </ul>
                        </div>
                    </td>
                </div>
                <div class="col-2">
    
                </div>
                <div class="col-6">
    
                    <td style="color:#ffffff" align="left">
                        <div class="sp-contacts-widget ">
                            <ul>
                                <br><br>
                                <li>
                                    <i class="ion-information-circled"></i> Trabajamos de lunes a viernes.</li>
                                <li>
                                    <i class="ion-clock"></i> Nuestro horario de atención es de 07:00 a 16:00</li>
                            </ul>
                        </div>
                    </td>
                </div>
            </div>
            <div class="container">
                © 2018 INSTITUTO SUPERIOR YAVIRAC. Todos los derechos reservados.
            </div>
        </div>
    </div>