<h1 align="center">
    <div class="alert alert-warning" role="alert">
        ARTE Y CULINARIO
    </div>
    <div class="card mb-4">
        <img class="card-img-top" src="../assets/images/CULINARIO.jpg" alt="Card image cap">
        <div class="card-body">
            <h1 class="card-title">¿QUE ES EL ARTE Y CULINARIO?</h1>
            <h6 class="card-text">Es una forma creativa de preparar los alimentos y depende mucho de la cultura, en términos de conocimientos respecto
                a los alimentos, su forma de prepararlos, así como de los rituales sociales establecidos alrededor de la
                comida.</h6>
        </div>
    </div>
    <div class="card-body">
        <h1 class="card-title">OBJETIVO</h1>
        <h6 class="card-text">Aplicar la forma correcta de cocción en los alimentos para evitar enfermedades.</h6>
    </div>

    <div class="p-3 mb-2 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <td style="color:#fcfcfc">
                        <div class="sp-title-block">
                            <h3>Contacto</h3>
                        </div>
                        <div class="sp-contacts-widget ">
                            <ul>
                                <li>
                                    <i class="ion-android-pin"></i> Dirección: Ambato y García Moreno </li>
                                <li>
                                    <i class="ion-android-call"></i> Teléfono: 0995225249</li>
                                <li>
                                    <i class="ion-at"></i> Correo electrónico: info@yavirac.edu.ec</li>
                            </ul>
                        </div>
                    </td>
                </div>
                <div class="col-2">

                </div>
                <div class="col-6">

                    <td style="color:#ffffff" align="left">
                        <div class="sp-contacts-widget ">
                            <ul>
                                <br>
                                <br>
                                <li>
                                    <i class="ion-information-circled"></i> Trabajamos de lunes a viernes.</li>
                                <li>
                                    <i class="ion-clock"></i> Nuestro horario de atención es de 07:00 a 16:00</li>
                            </ul>
                        </div>
                    </td>
                </div>
            </div>
            <div class="container">
                © 2018 INSTITUTO SUPERIOR YAVIRAC. Todos los derechos reservados.
            </div>
        </div>
    </div>
</h1>
